<div id="sidebar-collapse">
    <div class="admin-block d-flex">
    </div>
    <ul class="side-menu">
       <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/user/revues">
                <span class="nav-label">Revues</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/user/articles">
                <span class="nav-label">Articles</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/user/notification">
                <span class="nav-label">Notification</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/user/archive">
                <span class="nav-label">Archive</span></a>
        </li>
    </ul>
</div>