<div id="sidebar-collapse">
    <div class="admin-block d-flex">
    </div>
    <ul class="side-menu">
        <li routerLinkActive="active" class="nav-item">
            <a href="javascript:;" routerLink="/admin/users">
                <span class="nav-label">Users</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/revues">
                <span class="nav-label">Revues</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/articles">
                <span class="nav-label">Articles</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/notification">
                <span class="nav-label">Notification</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/archives">
                <span class="nav-label">Archive</span></a>
        </li>
        <li routerLinkActive="active">
            <a href="javascript:;" routerLink="/admin/modules">
                <span class="nav-label">Historique</span></a>
        </li>
    </ul>
</div>